<div class="container">

  <button class="btn-back" (click)="regresar()"> Regresar</button>

  <h2>Enviar Propuesta</h2>

  <div class="form-card">

    <!-- MONTO -->
    <label>Monto ofertado (Q)</label>
    <input type="number" [(ngModel)]="propuesta.monto">

    <!-- TIEMPO -->
    <label>Tiempo de entrega (días)</label>
    <input type="number" [(ngModel)]="propuesta.tiempo">

    <!-- DESCRIPCIÓN -->
    <label>Descripción</label>
    <textarea [(ngModel)]="propuesta.descripcion"></textarea>

   <div *ngIf="error" class="error"> {{ error }}</div>
<div *ngIf="mensaje" class="success">{{ mensaje }}</div>

<button class="btn-enviar"
        (click)="enviar()"
        [disabled]="enviando">
  {{ enviando ? 'Enviando...' : 'Enviar Propuesta' }}
</button>

  </div>

</div>