.register-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #1e3c72, #2a5298);
  background-attachment: fixed;
}

.register-card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 600px;
  max-width: 95%;

  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
  text-align: center;
}

.register-card h2 {
  margin-bottom: 5px;
}

.subtitle {
  margin-bottom: 20px;
  color: #777;
  font-size: 14px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

input, select {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

input:focus, select:focus {
  border-color: #2a5298;
  box-shadow: 0 0 5px rgba(42,82,152,0.4);
}

.full-width {
  grid-column: span 2;
}
button {
  margin-top: 20px;
  width: 100%;
  padding: 14px;

  background: #00c896;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;

  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00a87d;
}

@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .full-width {
    grid-column: span 1;
  }
}