<div class="page">

   <!-- BOTÓN REGRESAR -->
  <button class="btn-back" (click)="regresar()">
     Regresar
  </button>

  <div class="card" *ngIf="ultimaEntrega; else sinEntrega">

    <h3 class="titulo">Entrega #{{ ultimaEntrega.numero }}</h3>

    <p class="descripcion">{{ ultimaEntrega.descripcion }}</p>

    <div class="archivos" *ngIf="ultimaEntrega.archivo">
      <a [href]="ultimaEntrega.archivo" target="_blank" class="link">
        Ver archivo
      </a>
    </div>

    <p class="estado">
      <strong>Estado:</strong>
      <span [ngClass]="ultimaEntrega.estado.toLowerCase()">
        {{ ultimaEntrega.estado }}
      </span>
    </p>

    <div class="comentario" *ngIf="ultimaEntrega.comentarioCliente">
      <strong>Comentario cliente:</strong>
      <p>{{ ultimaEntrega.comentarioCliente }}</p>
    </div>

    <div class="acciones" *ngIf="ultimaEntrega.estado === 'PENDIENTE'">
      <button class="btn aprobar" (click)="aprobar()"> Aprobar</button>
      <button class="btn rechazar" (click)="rechazar()"> Rechazar</button>
      <button class="btn cancelar" (click)="cancelar()"> Cancelar</button>
    </div>

  </div>

  <ng-template #sinEntrega>
    <div class="card empty">
      <p>Este contrato aún no tiene entregas</p>
    </div>
  </ng-template>

</div>