<div class="contenedor">

  <div class="card">
    <div class="top-bar">
    <button class="btn-volver" (click)="regresar()"> Regresar</button>
  </div>

    <h1>Historial de Recargas</h1>

    <div class="filtros">

      <div class="campo">

        <label>Fecha inicio</label>

        <input
          type="date"
          [(ngModel)]="fechaInicio"
        >

      </div>

      <div class="campo">

        <label>Fecha fin</label>

        <input
          type="date"
          [(ngModel)]="fechaFin"
        >

      </div>

    </div>

    <button (click)="cargarReporte()">
      Generar Reporte
    </button>

    <button
  class="btn-pdf"
  (click)="exportarPDF()"
  *ngIf="recargas.length > 0">

  Exportar PDF

</button>

    <div
      class="mensaje"
      *ngIf="mensaje"
    >
      {{mensaje}}
    </div>

    <div
      class="tabla-container"
      *ngIf="recargas.length > 0"
    >

      <table>

        <thead>

          <tr>
            <th>Monto</th>
            <th>Fecha y hora</th>
          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let r of recargas">

            <td>Q{{r.monto}}</td>

            <td>{{r.fecha}}</td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

</div>