/* calificar-freelancer.css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor{

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  background:
    linear-gradient(
      135deg,
      #0f172a,
      #122a6b,
      #032774
    );
}

.card{

  width: 100%;
  max-width: 550px;

  background: rgba(255,255,255,0.97);

  backdrop-filter: blur(10px);

  border-radius: 24px;

  padding: 40px;

  box-shadow:
    0 15px 40px rgba(0,0,0,0.35);

  text-align: center;

  animation: aparecer 0.4s ease;
}

.card h1{

  margin-bottom: 10px;

  color: #1e3a8a;

  font-size: 32px;
}

.subtitulo{

  color: #64748b;

  margin-bottom: 35px;

  font-size: 15px;
}

.estrellas{

  margin-bottom: 30px;
}

.estrellas span{

  font-size: 55px;

  cursor: pointer;

  color: #cbd5e1;

  transition: 0.3s;
}

.estrellas span:hover{

  transform: scale(1.15);
}

.estrellas span.activa{

  color: #facc15;

  text-shadow:
    0 0 12px rgba(250,204,21,0.6);
}

textarea{

  width: 100%;

  border: 1px solid #cbd5e1;

  border-radius: 16px;

  padding: 16px;

  resize: none;

  font-size: 15px;

  margin-bottom: 28px;

  outline: none;

  transition: 0.3s;
}

textarea:focus{

  border-color: #2563eb;

  box-shadow:
    0 0 0 4px rgba(37,99,235,0.15);
}

.acciones{

  display: flex;
  justify-content: center;
}

.btn{

  border: none;

  padding: 14px 34px;

  border-radius: 14px;

  font-size: 16px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.guardar{

  background:
    linear-gradient(
      135deg,
      #2563eb,
      #1d4ed8
    );

  color: white;
}

.guardar:hover{

  transform: translateY(-3px);

  box-shadow:
    0 10px 20px rgba(37,99,235,0.35);
}

@keyframes aparecer{

  from{

    opacity: 0;

    transform: translateY(20px);
  }

  to{

    opacity: 1;

    transform: translateY(0);
  }
}